body {
  background-color: white;
}

header {
  font-weight: 400;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
}

nav a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  margin: 20px;
  color: black;
  border-radius: 10px;
}

.log {
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  height: 20px;
  background-color: white;
}

.log:hover {
  background-color: burlywood;
}

.accounts {
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  background-color: black;
  color: white;
}

.accounts:hover {
  background-color: burlywood;
}

.nav-links a {
  font-weight: 500;
  text-decoration: none;
}

.nav-links {
  display: flex;
  list-style: none;
}

.logo {
  display: flex;
  width: 120px;
  height: 90px;
  border-radius: 20px;
  position: relative;
  bottom: 30px;
  left: 600px;
}

.form-content {
  justify-items: center;
}

form {
  background-color: wheat;
  width: 350px;
  height: 400px;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
}

.credentials label {
  font-weight: 300;
  color: black;
}

.credentials input {
  border: 2px solid black;
  background-color: white;
  border-radius: 30px;
  padding: 10px;
  margin: 6px;
}

.btn {
  border: 2px solid black;
  border-radius: 20px;
  width: 180px;
  height: 40px;
  background-color: black;
  color: white;
  font-weight: 300;
}

.btn:hover {
  background-color: burlywood;
}
