*{
    
}

body {
    background-color: white;
}

header {
    font-weight: 500;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: end;
}

nav a {
    color: blue;
    justify-content: end; 
    text-decoration: none;
    padding: 20px;
    color: black;
    border-radius: 10px;
}

.nav-links a {
    font-weight: 300;
    justify-items: end;
    text-decoration: none;
    color: blue;
}

.nav-links {
    display: flex;
    list-style: none;
}

.login-content {
   display: flex; 
   position: relative;
   left: 450px;
}

form {
    background-color: wheat;
    padding: 25px;
    width: 350px;
    height: 400px;
    border-radius: 25px;
    text-align: center;
}

.credentials label {
    font-weight: 300;
    color: black;
}

.credentials input {
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    margin: auto;
}

.credentials .btn {
    border-radius: 20px;
    padding: 15px;
    background-color: white;
    color: black;
}

.credentials .btn1 {
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    color: white;
}