*{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: white;
}

header {
    font-weight: 500;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: end;
}

nav a {
    font-size: 25px;
    font-weight: 300;
    color: blue;
    justify-content: end; 
    text-decoration: none;
    padding: 20px;
    color: black;
    border-radius: 10px;
}

.nav-links a {
    font-weight: 300;
    justify-items: end;
    text-decoration: none;
    color: blue;
}

.nav-links {
    display: flex;
    list-style: none;
}

nav a:hover {
    color:burlywood;
}

.login-content {
   display: flex; 
   position: relative;
   left: 450px;
}

form {
    background-color: wheat;
    padding: 25px;
    width: 320px;
    height: 340px;
    border-radius: 25px;
    text-align: center;
    box-shadow: black;
}

form:hover {
    background-color: cornsilk;
}

.credentials label {
    font-weight: 300;
    color: black;
}

.credentials input {
    border-radius: 15px;
    height: 5px;
    padding: 15px;
    background-color: white;
    margin: auto;
}

.credentials .btn {
    font-size: large;
    border-radius: 15px;
    width: 150px;
    padding: 5px;
    background-color: white;
    color: black;
}

.btn:hover {
    background-color:burlywood;
}

.credentials .btn1 {
    border-radius: 20px;
    padding: 10px;
    background-color: black;
    color: white;
}

.btn1:hover {
    background-color: burlywood;
}